@font-face {
    font-family: "Livvic";
    src: url(../fonts/Livvic/Livvic-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Livvic";
    src: url(../fonts/Livvic/Livvic-BoldItalic.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Livvic";
    src: url(../fonts/Livvic/Livvic-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Livvic";
    src: url(../fonts/Livvic/Livvic-MediumItalic.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Livvic";
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
    font-weight: 400;
}